.box 
{
position: relative;
width:auto;
height: auto;
background-color:#F13C6E;
margin-top: 100px;
margin-bottom: 100px;
left: 405px;
padding: px;
display: fixed;
border-spacing: 15px;
}
.textbox1
{
color:#FFFFFF;
font-size: 18px;
position: relative;
left: auto;
text-align: justify;
top: auto;
}
.textbox2
{
color:#FFFFFF;
font-size: 14px;
position: relative;
text-align: justify;
left: auto;
top: auto;
}
.salescard
{
	position: relative;
	width:170px;
	height:40px;
	background-color:#F13C6E;
	color:#FFFFFF ;
	border: 2px solid #FFFFFF;
	border-radius:40px;
	cursor:pointer;
	left: auto;
	top:60px;
	float: left;


}
.emailinp
{
width: 220px;
height: 35px;
position: relative;
border-radius: 30px;
background-color: white;
border-color: transparent;
padding-left:25px;
left: auto;
top: 60px;

}
.publicitate
{
	position: relative;
	width: auto;
	margin-bottom: 80px;
	border: 2px solid black;
	margin-left: 405px;
	padding: 25px;
	background-color: white;
	top: 10px;
}

.divfooter1
{
	position: relative;
	padding-top: 20px;
    border-bottom: 1px solid #EFEFEF;
	font-size:16px ;
	text-align: left;
	font-weight: bold;
	padding-left: 150px;

}
.divfooter2
{
	width: 255px;
	height: 243px;
	position: relative;
	font-weight: normal;
	color: #828282;
	text-align: left;
	padding-left: 150px;
	list-style-type: none;
	line-height:30px;
	border-bottom: 1px solid #EFEFEF;
}
.divfooter3
{
	
	border: 1px solid black;
	width: auto;
	height: auto;
	position: static;
	padding: 20px;
	text-align: left;
	padding-left: 150px;
}
footer
{
	width: auto;
	height: 492px;
	background-color: white;
	border: 2px solid transparent;
	padding-left: 250px;
	padding-top: 25px;
}
